In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import gmaps
import os


# Import API key
#from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
#from citipy import citipy

# Output File (CSV)
#output_data_file = "output_data/cities.csv"

# Input File Path (CSV)
#csv_path = "C:\Users\Lenovo\Desktop\Project_One_2020EKTPHB\csv_files"

# Read clean csv files into DataFrames
age_of_inventory_df = pd.read_csv(r'clean_csv_files\age_of_inventory_c.csv')
days_on_zillow_df = pd.read_csv(r'clean_csv_files\days_on_zillow_c.csv')

median_price_reduction_df = pd.read_csv(r'clean_csv_files\median_price_reduction_c.csv')
median_sale_price_df = pd.read_csv(r'clean_csv_files\median_sale_price_c.csv') 
monthly_home_sales_df = pd.read_csv(r'clean_csv_files\monthly_home_sales_c.csv') 

monthly_market_value_df = pd.read_csv(r'clean_csv_files\monthly_market_value_c.csv') 
new_monthly_listings_df = pd.read_csv(r'clean_csv_files\new_monthly_listings_c.csv') 

age_of_inventory_df

,RegionName,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,United States,109.0,100.0,86.0,76.0,74.0,74.0,77.0,76.0,82.0,...,74.0,63.0,60.0,62.0,64.0,69.0,72.0,75.0,78.0,88.0
1,"Houston, TX",97.0,84.0,62.0,60.0,58.0,60.0,59.0,59.0,62.0,...,72.0,64.0,63.0,66.0,68.0,74.0,78.0,84.0,86.0,90.0